<div class="container">
  <!-- Content here -->
  <div class="row mt-3">
    <h1>Stupid Coaching</h1>
  </div>
  <div class="row mt-3 ps-3 border-start border-3">
    <%= @answer %>
    <br>
    -You
  </div>
  <div class="row row mt-3 ps-3 border-start border-3 back-yellow">
    <%= @coach_answer %>
    <br>
    -Your Coach
  </div>
  <div class="row mt-3">
    <a href="/ask">Ask a question</a>
  </div>
</div>
